@model IEnumerable<ClearMVC.Models.Activities>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivitiyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivitiyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivitiyId })
        </td>
    </tr>
}

</table>
